.error-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    transition: all 0.3s ease;
    font-family: 'Lobster Two', cursive;
    text-align: center;

    img {
        width: 400px;
    }

    h6 {
        font-size: 2.2rem;
        font-weight: 400;
        letter-spacing: 3px;
    }
}

@media(max-width:576px) {
    .error-message {
        img {
            width: 90%;
        }

        h6 {
            font-size: 1.5rem;
        }
    }
}